{% extends 'base.html.twig' %}

{% block title %}Edit Job{% endblock %}

{# Wyświetlenie obrazka #}
{% form_theme form _self %}

{% block _job_logo_widget %}
    {% if form.vars.data %}
        <img class="media-object" style="width:100px;" src="{{ asset(jobs_web_directory ~ '/' ~ form.vars.data.filename) }}">
    {% endif %}

    {{ form_widget(form) }}
{% endblock %}
{# End Wyświetlenie obrazka #}

{% block body %}
    <h1>Edit Job</h1>

    {{ include('job/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('job_homepage') }}">back to list</a>

    {#{{ include('job/_delete_form.html.twig') }}#}
{% endblock %}
