<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Jobeet - Admin{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('build/jobeet.css') }}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <a class="navbar-brand" href="#">Jobeet Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item">
                        {#<a class="nav-link" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>#}
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    {% set currentRouteName = app.request.get('_route') %}
                    <nav class="nav flex-column nav-pills">
                        <a class="nav-link {% if currentRouteName starts with 'admin.affiliate.' %}active{% endif %}" href="{{ path('admin.affiliate.list') }}">Affiliates</a>
                        <a class="nav-link {% if currentRouteName starts with 'admin.category.' %}active{% endif %}" href="{{ path('admin.category.list') }}">Categories</a>
                        <a class="nav-link {% if currentRouteName starts with 'admin.job.' %}active{% endif %}" href="{{ path('admin.job.list') }}">Jobs</a>
                    </nav>
                </div>

                <div class="col-md-10">
                    {% block body %}{% endblock %}
                </div>
            </div>
            {% block javascripts %}{% endblock %}
            <script src="{{ asset('build/jobeet.js') }}"></script>
        </div>
    </body>
</html>